.card img {
  max-height: 285px;
  height: 284px;
  width: 100%;
  object-fit: fill;
}

.card:hover {
  cursor: pointer;
}

#cardholder {
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW92aWUlMjB0aGVhdGVyfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  position: fixed;
}
/* #cardholder {
    display:none;
} */

/* Fonts for different Genres */

/* font-family: 'Aboreto', cursive; - scifi
font-family: 'DynaPuff', cursive; - comedy
font-family: 'Edu VIC WA NT Beginner' cursive; -action
font-family: 'Lobster', cursive; -romance
font-family: 'Silkscreen', cursive; -horror */

#intro-page {
  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bW92aWUlMjB0aGVhdGVyfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=400&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: xx-large;
  color: aliceblue;
}

/* #cardholder background-image {
  position: fixed;
} */
